<view title="'Login'" right-buttons="rightButtons">
    <content has-header="true" padding="true">

        <div ng-hide="loggedIn" class="list list-inset">
            <label class="item item-input">
                <input ng-model="username" type="text" placeholder="Username">
            </label>
            <label ng-show="newUser" class="item item-input">
                <input ng-model="phone" type="text" placeholder="Phone Number">
            </label>
            <label class="item item-input">
                <input ng-show="newUser" ng-model="email" type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password">
            </label>
        </div>
        <h3 ng-show="loggedIn">Welcome back {{user.getEmail()}}!</h3>
        <ul ng-hide="loggedIn" class="list">
            <li class="item item-toggle">
                New User
                <label class="toggle">
                    <input ng-model="newUser" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <button ng-hide="newUser || loggedIn" class="button button-block button-royal" ng-click="login(username, password)">Login</button>
        <button ng-show="newUser" class="button button-block button-royal" ng-click="register(email, password, username, phone)">Register</button>
    </content>
</view>