<ion-view title="'Maker'" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
      <div class="list list-inset">
        <label class="item item-input">
          <input ng-model="quest.title" type="text" ng-change="updateQuest()" placeholder="Quest Name">
        </label>
        <label class="item item-input">
          <input ng-model="quest.completeMsg" type="text" ng-change="updateQuest()" placeholder="Completion Message">
        </label>
        <label class="item item-input">
          <input ng-model="quest.failureMsg" type="text" ng-change="updateQuest()" placeholder="Failure Message">
        </label>
      </div>
        <div>
            <ul>
                <div
                        class="col-xs-12 questionContainer"
                        ng-repeat="question in questions track by $index | orderBy : creationtime">
                    <div class="question clearfix">
                      <a
                        class="question-text pull-left"
                        href="#"
                        editable-text="question.text"
                        onaftersave="update(question)"
                        buttons="no"
                        e-id="editbox"
                        onshow="focusEditBox()"
                        e-placeholder="Enter question text"
                        blur="submit">{{ question.text || 'Tap to edit' }}
                      </a>
                      <br/>
                      <div class="out-buttons pull-right">
                        <button class="button button-assertive" ng-click="removeQuestion(question.id, $index)">
                          <i
                            class="ion-trash-a">
                          </i>
                        </button>
                      </div>
                    </div>
                    <br />
                    <div
                            class="col-xs-10 col-xs-offset-2 answerContainer"
                            ng-class="{true: 'bomb', false: 'correct'}[answer.bomb]"
                            ng-repeat="answer in question.answers track by $index | orderBy : creationtime">
                        <div class="answer">
                            <a
                                    class="answer-text pull-left"
                                    href="#"
                                    editable-text="answer.text"
                                    onaftersave="update(question)"
                                    buttons="no"
                                    e-id="editbox"
                                    onshow="focusEditBox()"
                                    e-placeholder= "Enter answer text"
                                    blur="submit">{{ answer.text || 'Tap to edit' }}
                            </a>
                            <br/>
                        </div>
                      <div class="out-buttons pull-right">
                        <button class="button button-assertive pull-right" ng-click="removeAnswer(question, $index)">
                          <i
                            class="ion-trash-a">
                          </i>
                        </button>
                        <button class="button button-outline button-stable pull-right" ng-click="setBomb(question, $index)">
                          <img ng-src="{{answer.bomb === true && 'img/icnBad.png' || 'img/icnGood.png' }}" />
                        </button>
                      </div>
                    </div>
                    <div
                            class="col-xs-8 col-xs-offset-4 adderstyle"
                            ng-click="addAnswer(question)">
                        <p class="addertext">Add Answer</p>
                        <span class="ion-plus-round pull-right"></span>
                    </div>
                </div>
                <div
                        class="col-xs-12 adderstyle"
                        ng-click="addQuestion()">
                    <p class="addertext">Add Question</p>
                    <span class="ion-plus-round pull-right"></span>
                </div>
            </ul>
        </div>
    </ion-content>
</ion-view>

