<tabs tabs-style="tabs-icon-top" tabs-type="tabs-dark">
  <tab title="Maker" icon="ion-ios7-lightbulb-outline" href="#/tab/maker">
      <nav-view name="maker-tab"></nav-view>
  </tab>
  <tab title="Taker" icon="ion-ios7-stopwatch-outline" href="#/tab/taker">
      <nav-view name="taker-tab"></nav-view>
  </tab>
  <tab title="Friends" icon="ion-person" href="#/tab/friends">
      <nav-view name="friends-tab"></nav-view>
  </tab>
  <tab title="Results" icon="ion-pie-graph" href="#/tab/results">
      <nav-view name="results-tab"></nav-view>
  </tab>
  <tab title="Login" icon="ion-key" href="#/tab/login">
      <nav-view name="login-tab"></nav-view>
  </tab>
</tabs>
