/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
a.editable-click {
    color: #ffffff;
    font-weight: bolder;
    border-bottom:none;
}
a.editable-click:hover {
    color: #ffffff;
    font-weight: bolder;
    border-bottom:none;
}
.navitem {
    margin-top: 12px;
    text-align: center;
}
.navitem-center {
    text-align: center;
}
.question {
    padding: 20px;
    margin-bottom: -10px;
    background-color: #1c93fd;
    border-radius: 5px;
}
.answerContainer{
    -webkit-transition: linear .5s;
    -moz-transition: linear .5s;
    -ms-transition: linear .5s;
    transition: linear .5s;
}
.questionContainer{
    -webkit-transition: linear .5s;
    -moz-transition: linear .5s;
    -ms-transition: linear .5s;
    transition: linear .5s;
}
.questionContainer.ng-enter{
    opacity: 0;
}
.questionContainer.ng-enter-active{
    opacity: 1;
}
.questionContainer.ng-leave{
    opacity: 1;
}
.questionContainer.ng-leave-active{
    opacity: 0;
}
.answerContainer.ng-enter{
    opacity: 0;
}
.answerContainer.ng-enter-active{
    opacity: 1;
}
.answerContainer.ng-leave{
    opacity: 1;
}
.answerContainer.ng-leave-active{
    opacity: 0;
}
.question-text {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

.answer-text {
    padding-left : 25px;
    padding-top : 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

.adderstyle {
    background-color: #cbcbd0;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.addertext {
    color: #ffffff;
    font-weight: bolder;
}
.biggertext {
    color: #ffffff;
    font-weight: bolder;
    font-size: 2.0em;
}
.correct {
    background-color: #a2d4ff;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.incorrect {
    background-color: #f49ac2;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.selected {
    background-color: #77DD77;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.reveal{
    font-size: 2em;
}
input[type=checkbox] + label {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1em;
}
label{
    font-weight: lighter;
}
.navbar{
    padding-top:10px;
}
.mobilebody {
    padding-top: 70px;
    padding-bottom: 70px;
}