/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
a.editable-click {
    color: #ffffff;
    font-weight: bolder;
    border-bottom:none;
}
a.editable-click:hover {
    color: #ffffff;
    font-weight: bolder;
    border-bottom:none;
}
.navitem {
    margin-top: 12px;
    text-align: center;
}
.navitem-center {
    text-align: center;
}
.question {
    background-color: #2570A8;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    clear: both;
}
.questionTaker {
    padding: 10px;
    padding-bottom: 15px;
    background-color: #2570A8;
    border-radius: 5px;
}
.answerContainer{
    -webkit-transition: linear .5s;
    -moz-transition: linear .5s;
    -ms-transition: linear .5s;
    transition: linear .5s;
}
.questionContainer{
    -webkit-transition: linear .5s;
    -moz-transition: linear .5s;
    -ms-transition: linear .5s;
    transition: linear .5s;
}
.questionContainer.ng-enter{
    opacity: 0;
}
.questionContainer.ng-enter-active{
    opacity: 1;
}
.questionContainer.ng-leave{
    opacity: 1;
}
.questionContainer.ng-leave-active{
    opacity: 0;
}
.answerContainer.ng-enter{
    opacity: 0;
}
.answerContainer.ng-enter-active{
    opacity: 1;
}
.answerContainer.ng-leave{
    opacity: 1;
}
.answerContainer.ng-leave-active{
    opacity: 0;
}
.question-text {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 30px;
}

.answer-text {
    padding: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

.adderstyle {
    background-color: #B7C0C7;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.addertext {
    color: #ffffff;
    font-weight: bolder;
}
.biggertext {
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5em;
}
.correct {
    background-color: #70C087;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.nobomb {
    background-color: #a2d4ff;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.unselected {
    background-color: #ACACAC;
    border-radius: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.bomb {
    background-color: #E15258;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.selected {
    background-color: #16387C;
    border-radius: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.reveal{
    font-family: "bree",sans-serif;
    font-size: 1.2em;
    margin-left:auto;
    margin-right:auto;
}
.reveal-text{
    margin-left:5%;
    display: block;
    vertical-align: middle;
}
.reveal-image{
    margin-left:20%;
    display: block;
    vertical-align: middle;
}
input[type=checkbox] + label {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1em;
}
label{
    font-weight: lighter;
}
.navbar{
    padding-top:10px;
}
.mobilebody {
    padding-top: 70px;
    padding-bottom: 70px;
}
.toast-top-center {
    top: 12px;
    left: 50%;
    margin-left: -150px;
}
@media all and (max-width: 240px) {
    .toast-top-center {
        margin-left: -200px;
    }
}
@media all and (min-width: 241px) and (max-width: 320px) {
    .toast-top-center {
        margin-left: -130px;
        margin-top: 50px;
    }
}
@media all and (min-width: 321px) and (max-width: 480px) {
    .toast-top-center {
        margin-left: -96px;
    }
}
.out-buttons{
    display: inline-block;
}
.recipient-entry{
    border : 1px solid #666666;
}
a.tab-item {
    color: #ffffff !important;
    background-image: none !important;
    text-decoration: none !important;
}
i.ion-edit, i.ion-plus-round, i.ion-paper-airplane, i.ion-close{
    font-size: 25px;
    vertical-align: middle;
}
div.left-buttons button, div.right-buttons button{
    border-color: transparent !important;
    background-color: transparent !important;
    width: 150%;
}
.logout-btn{
    background-color: #BA0C0D !important;
    border-color: #BA0C0D !important;
}
.change-btn{
    background-color: #004276 !important;
    border-color: #004276 !important;
}
.confirm-btn{
    background-color: #557D58 !important;
    border-color: #557D58 !important;
}
.fail-btn{
    background-color: #BA0C0D !important;
    border-color: #BA0C0D !important;
}